* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.1s;
  color: white;
  transition: 0.1s;
}

:root {
  --nav-bg: #292929;
  --content-bg: #353535;
}

body {
  background-color: var(--content-bg);
  max-width: 900px;
}

h1 {
  font-size: 2rem;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

footer {
  height: 40px;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

footer svg {
  width: 30px;
  display: flex;
  fill: white;
  cursor: pointer;
}
